<!DOCTYPE html>
<html>

<head>
  <title>게시글</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <style>
    /* 추가한 CSS 스타일 */
    .modal.bottom-up .modal-dialog {
      transform: translate(0, 100%);
      transition: transform 0.7s;
    }

    .modal.bottom-up.show .modal-dialog {
      transform: translate(0, 0);
    }

    .commentbox {
      width: 70%;
      /* 현재 너비의 2배로 조정, 필요에 따라 조절 가능 */
    }

    .pink_btn {
      background-color: pink;
    }

    .table-container {
      margin: 0 5%;
      background-color: white;
      border-radius: 10px;
      margin-bottom: 2%;
      overflow: hidden;
    }

    .table-responsive {
      max-height: 250px;
      overflow-y: auto;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th,
    td {
      padding: 8px;
      border: 1px solid #ddd;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    thead th {
      position: sticky;
      top: 0;
      background-color: #fff;
    }
  </style>

</head>

<body>
  <% if (user) { %>
    <!-- 세션이 있는 경우 -->
    <%- include('loginheader.ejs') %>
      <% } else { %>
        <!-- 세션이 없는 경우 -->
        <%- include('header.ejs') %>
          <% } %>

            <br>
            <br>
            <div class="card" style="width: 90%; margin: 0 4%;">
              <div class="card-body">
                <h3 style="width: 90%; margin: 0 4%;" id="b_title">
                  <%= post.b_title %>
                </h3>

                <div style="margin: 0 4%;">
                  <ul style="list-style: none; padding: 0; margin-top: 1%">
                    <li style="display: inline-block; margin-right: 10px;" id="id">
                      <%= post.nickname%>
                    </li>
                    <li style="display: inline-block; margin-right: 10px;" id="b_date">
                      <%= post.b_date %>
                    </li>
                    <li style="display: inline-block; margin-right: 10px;" id="likes">좋아요: <% if (post.likes===null) {
                        %>
                        0
                        <% } else { %>
                          <%= post.likes %>
                            <% } %>
                    </li>
                    <li style="display: inline-block;" id="cnt_comment">댓글: <%= commentCount %>
                    </li>
                  </ul>

                </div>
                <br>
                <p class="card-text" style="margin: 0 4%;" id="b_content">
                  <%= post.b_content %>
                </p>
                <br>
                <div style="margin: 0 4%;">
                  <a href="#" class="btn pink_btn" style="width: 150px; height: 40px; margin-right: 10px;"
                    onclick="likePost(); location.reload();">
                    <img src=" ./img/like.png" height="30px" width="30px" />좋아요
                    <b id="likeCount">
                      <% if (post.likes===null) { %>
                        0
                        <% } else { %>
                          <%= post.likes %>
                            <% } %>
                    </b>
                  </a>
                  <a href="#" class="btn pink_btn" style="width: 150px; height: 40px; margin-right: 10px;"
                    onclick="modifyPost()">
                    <img src="./img/modify.png" height="30px" width="30px" />수정</a>
                  <a href="#" class="btn pink_btn" style="width: 150px; height: 40px; margin-right: 10px;">
                    <img src="./img/del.png" height="30px" width="30px" />&nbsp;삭제</a>
                </div>
              </div>
              <hr>
              <div class="container" style="margin: 3% 4%;">
                <form name="commentInsertForm" method="POST" action="/submit_comment"
                  style="background-color: rgb(255, 255, 255);">
                  <input type="hidden" name="g_no" value="<%= post.g_no %>">
                  <input type="hidden" name="b_no" value="<%= post.b_no %>">
                  <div class="comtitle">
                    <h3>댓글 작성</h3>
                  </div>

                  <div class="cominput">
                    <div class="input-group">
                      <input type="text" class="form-control commentbox" name="c_content" id="c_content"
                        placeholder="댓글을 입력해주세요." style="max-width: 100%;">
                      <div class="input-group-append">
                        <button type="submit" class="btn pink_btn" name="commentInsertBtn"
                          style="max-width: 100%;">작성</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>

              <div class="table-container">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>닉네임</th>
                        <th>댓글 내용</th>
                        <th>작성일</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if (comments.length> 0) { %>
                        <% for (let i=0; i < comments.length; i++) { %>
                          <tr>
                            <td>
                              <%= i + 1 %>
                            </td>
                            <td>
                              <%= comments[i].nickname %>
                            </td>
                            <td>
                              <%= comments[i].c_content %>
                            </td>
                            <td>
                              <%= comments[i].c_date %>
                            </td>
                          </tr>
                          <% } %>
                            <% } else { %>
                              <tr>
                                <td colspan="4">작성된 댓글이 없습니다.</td>
                              </tr>
                              <% } %>
                    </tbody>
                  </table>
                </div>
              </div>


            </div>

            <br>


            </div>
            <br>
            <script>
              function modifyPost() {
                // 현재 URL에서 g_no 값을 가져오기
                var currentURL = window.location.href;
                var g_no_match = currentURL.match(/[?&]g_no=([^&]+)/);
                var b_no_match = currentURL.match(/[?&]b_no=([^&]+)/);

                // Check if the values are present in the URL
                var g_no = g_no_match ? g_no_match[1] : null;
                var b_no = b_no_match ? b_no_match[1] : null;

                // 페이지 이동
                window.location.href = `/modify?g_no=${g_no}&b_no=${b_no}`;
              }
            </script>

            <script>
              function likePost() {
                // 서버로 좋아요 요청 보내기
                $.post('/increaseLike', { g_no: <%= post.g_no %>, b_no: <%= post.b_no %> })
                  .done(function (response) {
                    // 좋아요 증가 처리 후, 반환된 데이터로 화면 업데이트

                    // 페이지 리다이렉션
                    window.location.href = `/read?g_no=${response.g_no}&b_no=${response.b_no}`;
                  })
                  .fail(function (error) {
                    console.error('좋아요 요청 실패:', error);
                  });
              }
            </script>
            <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>